::-webkit-scrollbar { 
    display: none; 
}
html {
	overflow: -moz-scrollbars-none;
}
body {
	background: black;
	margin: 0px;
}
div.iframe {
	background: transparent;
	display: inline-block;
	position: absolute;
}
div.iframe div.video-handle {
	background: rgba(255,255,255,0.4);
	border: 3px outset gray;
	box-sizing: border-box;
	cursor: move;
	display: none;
	position: absolute;
	top: calc(50% - 1.5em);
	left: calc(50% - 1.5em);
	width: 3em;
	height: 3em;
	z-index: 80;
}
div.iframe.ui-draggable:not(.ui-draggable-disabled):hover div.video-handle {
	display: block;
}
div.iframe .ui-resizable-handle {
	background: rgba(255,255,255,0.7);
	border: 3px outset gray;
	box-sizing: border-box;
}
div.iframe div.chat-header {
	background: gray;
	border: 2px solid gray;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: calc(5*0.625em);
	z-index: 80;
	box-sizing: border-box;
	padding: 0.625ex;
}
div.iframe.ui-draggable:not(.ui-draggable-disabled):hover div.chat-header {
	cursor: move;
}
.ui-resizable-n {
	top: -3px;
}
.ui-resizable-e {
	right: -3px;
}
.ui-resizable-s {
	bottom: -3px;
}
.ui-resizable-w {
	left: -3px;
}
.ui-resizable-se {
	width: 9px;
	height: 9px;
	right: -3px;
	bottom: -3px;
}
.ui-resizable-sw {
	right: -3px;
	bottom: -3px;
}
.ui-resizable-ne {
	right: -3px;
	bottom: -3px;
}
.ui-resizable-nw {
	right: -3px;
	bottom: -3px;
}

div.stream-list-item {
	border: 1px solid black;
	padding: 1ex;
}
div.stream-list-item:nth-child(odd) {
	background: #eeeeee;
}
div.stream-list-item:nth-child(even) {
	background: #cccccc;
}
div.stream-list-item button {
	float: right;
}

#menu {
	border-radius: 1em;
	display: block;
	max-height: calc(100% - 1.5em);
	max-width: calc(100% - 1.5em);
	position: fixed;
	overflow: auto;
	right: 1em;
	top: 1em;
	z-index: 1000;
}

#menu.closed {
	background-color: rgba(200,200,200,0);
	border: 2px outset rgba(50,50,50,0);
	cursor: pointer;
	height: 3em;
	width: 3em;
	transition: all 1s ease-in 1s;
}

html:hover #menu.closed {
	background-color: rgba(200,200,200,0.2);
	border-color: rgba(50,50,50,0.2);
	transition: all 1s linear 0s;
}

html body #menu.closed:hover {
	background-color: rgba(200,200,200,0.85);
	border-color: rgba(50,50,50,0.85);
	transition: all 0.2s linear 0s;
}

#menu.open {
	background-color: rgba(200,200,200,0.85);
	border: 2px outset rgba(50,50,50,0.85);
	height: 3em;
	width: 75ex;
	transition: all 0.5s ease 0s;
}

#menu.expanded {
	background-color: rgba(255,255,255,1);
	border: 2px outset rgba(100,100,100,1);
	height: auto;
	width: 75ex;
	transition: all 0.5s ease 0s;
}

#options {
	padding: 1ex;
}

#menu.closed>#expand_menu,
#menu.closed>#shrink_menu,
#menu.closed>#close_menu,
#menu.closed>#small_options,
#menu.closed>#options {
	display: none;
	opacity: 0;
	transition: all 0.2s ease-in 0s;
}

#menu.open>#expand_menu,
#menu.open>#close_menu,
#menu.open>#small_options {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
}
#menu.open>#shrink_menu,
#menu.open>#options {
	display: none;
	opacity: 0;
}
#menu.open>#expand_menu {
	right: 1em;
}
#menu.open>#close_menu {
	line-height: 2.5em;
	position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
	float: right;
}

#menu.expanded>#shrink_menu,
#menu.expanded>#close_menu,
#menu.expanded>#small_options,
#menu.expanded>#options {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
}
#menu.expanded>#expand_menu {
	display: none;
	opacity: 0;
}

#expand_menu,
#shrink_menu,
#close_menu {
	background-color: rgba(50,50,50,0);
	cursor: pointer;
	padding: 0.5ex;
	text-align: center;
	transition: all 0.3s linear 0s;
}

#expand_menu:hover,
#shrink_menu:hover,
#close_menu:hover {
	background-color: rgba(50,50,50,0.4);
}

div#coverup {
	display: none;
	background: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 50;
}